body {
    background-color: #F4F3EE;
    font-family: "Markazi Text", serif;
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-left: 5%;
    margin-right: 5%;
}

nav {
    background-color: #BCB8B1;
    border-radius: 15px;
    
}

.banner {

    background-image: linear-gradient(rgba(0,0,0,0.3),transparent),url('WeddingBanner.jpeg');
    background-size: cover; 
    background-position: -130px; 
    height: 400px; 
    position: relative; 
    
}

.banner-content {
    position: absolute; 
    font-style: italic;
    font-size: 1.5rem;
    font-weight: bolder;
    top: 50%;
    left: 50%;
    transform: translate(70%, -110%); 
    color: white; 
    text-align: center; 
}


h2 {
    font-size: 2rem;
    text-align: center;
    
}

header > img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    max-width: 100%;
    height: auto;
}



nav ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

nav ul li a {

    color: black;
    text-decoration: none;
    margin-right: 20px;
    font-size: 1.3rem;
    font-weight: 500;
}

nav ul li a:hover {
    color: pink;
}

section{
    display: flex;
}

article {
    flex: 1;
    padding: 1rem;
    border-radius: 15px;
    margin: 1rem;
    background-color:  #BCB8B1;
}

.ring > p, .earring > p, .necklace > p{
    text-align: center;
}

.ring:hover, .earring:hover, .necklace:hover{
    color: pink;
}

.ring-photo a > img, .earring-photo a > img, .necklace-photo a > img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    max-width: 100%;
    height: auto;
    transition: transform 0.3s ease;
}

.ring-photo a > img:hover, .earring-photo a > img:hover, .necklace-photo a > img:hover {
    transform: scale(1.1); 
    
}




footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer img {
    max-width: 100px; 
    height: auto;
    margin-left: 1rem; 
}

footer p{
    margin-right: 1rem; 
}

